%div{ id: 'version', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title Version
      .modal-body.version-list
        %ul
          %li
            %a V2.0:
            Content approved by
            %a Josh
            %small 25th Nov 2014.
          %li
            %a V2.0:
            Content verified by
            %a Justine
            %small 15th Nov 2014.
          %li
            %a V1.0:
            Content edited by
            %a Sam
            %small 05th Nov 2014.
          %li
            %a V0.1:
            Content created by
            %a Nathan
            %small 02nd Nov 2014.

%div{ id: 'info-sign', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title Content information
      .modal-body
        %form{ role: 'form' }
          .form-group
            %label Description
            %textarea{ class: 'form-control', placeholder: 'Short description', rows: '2' }
          .form-group
            %label Search terms
            .pillbox
              %ul.clearfix.pill-group
                - ['Audi', 'Cookie'].each do |term|
                  %li{ class: 'btn btn-default pill', 'data-value' => 'foo' }
                    %span= term
                    %span.glyphicon.glyphicon-close

          .form-group
            %label Publish date
            %input{ type: 'date', class: 'form-control' }
          .form-group
            %label Author
            %input{ type: 'text', class: 'form-control', value: 'Josh Boyden' }
          .form-group
            %label Next step
            %select.form-control
              - ['Additional editing', 'Verification', 'Approval', 'Publishing'].each do |step|
                %option= step
        %form
          .form-group
            %label Responsible
            %input{ type: 'text', class: 'form-control typeahead staff-search', placeholder: 'Admin responsible' }

      .modal-footer
        %a{ class: 'btn btn-default pull-left', 'data-dismiss' => 'modal' } Close
        %a{ class: 'btn btn-primary', 'data-dismiss' => 'modal' } Save

%div{ id: 'flag', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title Content approval
      .modal-body
        %a{ class: 'btn btn-success btn-100', 'data-dismiss' => 'modal' } Approve
        %a{ class: 'btn btn-warning btn-100', 'data-dismiss' => 'modal' } Editing required
        %a{ class: 'btn btn-danger btn-100', 'data-dismiss' => 'modal' } Rewrite required
      .modal-footer
        %a{ class: 'btn btn-default', 'data-dismiss' => 'modal' } Close

%div{ id: 'comment', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title Comments
      .modal-body

        .container
          .panel-body.msg_container_base
            .row.msg_container.base_sent
              .col-md-10.col-xs-8
                .messages.msg_sent
                  %p
                    Lorum ipsumLorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %time{:datetime => "2009-11-13T20:00"} Josh • 51 min
              .col-md-2.col-xs-4
                %img{ 'data-src' => 'holder.js/50x50/sky/auto', class: 'img-circle' }

          .panel-footer
            .input-group
              %input#btn-input.form-control.input-sm.chat_input{:placeholder => "Respond", :type => "text"}/
              %span.input-group-btn
                %button#btn-chat.btn.btn-primary.btn-sm Send

%div{ id: 'stats', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title Content statistics
      .modal-body
        %table.table.table-striped
          %thead
            %tr
              %th Metric
              %th Original
              %th Test A
          %tbody
            - ['Views', 'UVs', 'Prospects', 'Leads', 'Sales'].each do |stat|
              %tr
                %td
                  %b= stat
                %td= (10..100).to_a.sample
                %td= (10..100).to_a.sample
        %hr
        %a.btn.btn-default.btn-100 View detailed statistics



%div{ id: 'screenshot', class: 'modal fade', tabindex: '-1', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' } &times;
        %h3.modal-title A/B test
      .modal-body
        .row.ab_tests
          .col-xs-3
            %input{ type: 'text', value: '100%' }
          .col-xs-9
            %a{ class: 'btn btn-default btn-100' } Original
          .col-xs-12
            %a Stop test
        .row.add_test
          .col-xs-12
            %a{ class: 'btn btn-success btn-100 btn-add-test' }
              %span.glyphicon.glyphicon-plus
              |Add test