.container
  .row
    .col-xs-10
      %form{ role: 'form', class: 'form-lg' }
        .form-group
          %input{ value: "#{ content.name }", class: 'form-control', id: 'richText' }
          %br

          - if content.type == 'Article'
            %textarea{ class: 'form-control', rows: 10 }
          - elsif content.type == 'User'
            %h2 User content editor
          - elsif content.type == 'Event'
            %h2 Event content editor

    .col-xs-2.cms-actions
      - [ 'info-sign', 'flag', 'save', 'comment', 'calendar' ].each do |action|
        %a{ class: 'btn btn-default', id: "#{ action }-action", 'data-toggle' => 'modal', 'data-target' => "##{ action }" }
          %span{ class: "glyphicon glyphicon-#{ action }" }

%script{ src: '//tinymce.cachefly.net/4.1/tinymce.min.js' }

= partial 'cms/editor_modals', locals: { content: content }