- @user = env['warden'].user || NullUser.new

%nav{ class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  .container-fluid
    .navbar-header
      %button{ type: 'button', class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse' }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{ class: 'navbar-brand', href: '/' } myAudi

    %div{ class: 'collapse navbar-collapse', id: 'navbar-collapse' }

      = partial 'shared/nav_search'

      %div.nav-standard
        %ul{ class: 'nav navbar-nav' }

          %li
            %a{ href: '/articles' } Articles

          = partial 'shared/nav_dropdown', locals: { title: 'Book', elements: { one: ['Test drive', '/book/test-drive'], two: ['Service', '/book/service'], three: ['Event', '/book/event'] } }

          %li
            %a{ href: '/dealerships' } Dealerships

          %li
            %a{ href: '/finance' } Finance calculator

        %ul{ class: 'nav navbar-nav navbar-right' }

          %li
            %a{ class: 'nav-search', href: '/search' } Search

          - if @user.admin?
            = partial 'shared/nav_dropdown', locals: { title: 'Admin', elements: { one: ['Dashboard', '/dashboards'], two: ['CMS', '/cms'] } }

          - if @user.null?
            %li
              %a{ href: '#', 'data-toggle' => 'modal', 'data-target' => '#loginSignup' } Login/Sign up
          - else
            = partial 'shared/nav_dropdown', locals: { title: @user.name, elements: { two: ['Profile', '/profile'], three: ['Messages', '/messages'], four: ['Logout', '/logout'] } }

%div{ class: 'modal fade', id: 'loginSignup', tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'LoginSignup', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' }
          %span{ 'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        %h4.modal-title Login/Sign up
      .modal-body
        .row
          .col-md-6
            %h4 Login
            %br

            = form_tag '/sessions/create' do
              = field_set_tag do
                .form-group
                  = label_tag :email, for: 'email'
                  = email_field_tag :email, class: 'form-control', placeholder: 'Enter email'
                .form-group
                  = label_tag :password, for: 'password'
                  = password_field_tag :password, class: 'form-control', placeholder: 'Enter password'
              = field_set_tag( class: 'buttons' ) do
                = submit_tag "Login", class: 'btn btn-primary'
              %a{ href: '/forgot-password' } Forgot password?

          %hr

          .col-md-6
            %h4 Sign up
            %br
            %form
              .form-group
                %label{ for: 'email' } Email
                %input{ type: 'email', class: 'form-control', placeholder: 'Enter email'}
              .form-group
                %label{ for: 'password' } Password
                %input{ type: 'password', class: 'form-control', placeholder: 'Enter password'}
              .form-group
                %label{ for: 'password' } Confirm password
                %input{ type: 'password', class: 'form-control', placeholder: 'Confirm password'}
              .checkbox
                %label
                  %input{ type: 'checkbox' } I agree to Audi's <a href="/privacy">privacy policy <i><small>(no spam)</small></i></a>
              .checkbox
                %label
                  %input{ type: 'checkbox' } I'm happy to receive emails from Audi
            %a{ href: '/signup', class: 'btn btn-primary' } Sign up

      .modal-footer
        %button{ type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal' } Close