%h2 Dashboards

- [ 'Market position', 'Sales', 'Leads', 'Prospects', 'Engagement' ].each do |metric|
  .panel.panel-default
    .panel-heading
      %h3
        - val = metric == 'Market position' ? 3 : (10..100).to_a.sample
        %a{ href: "/dashboards/#{ metric.downcase }" }= "#{ metric }: #{ val }"

    .panel-body
      .col-xs-6
        = partial 'shared/dropdown_select', locals: { list: ['Daily', 'Monthly', 'Yearly'] }

      .col-xs-6
        = partial 'shared/dropdown_select', locals: { list: ['Totals', 'Growth'] }
      %br
      %br
      .row
        %img{ 'data-src' => 'holder.js/100%x100/sky/auto' }