%h3 Audi owners driver ranking

%ul.list-group

  %li.list-group-item
    .row
      .col-xs-2
        %span.place 22
      .col-xs-6
        %h5 You, RS4
        %p B+, 200 trips
      .col-xs-3
        %img{ 'data-src' => 'holder.js/75x75/sky', class: 'img-circle' }

  - @drivers.each_with_index do |driver, index|
    %li.list-group-item{ 'data-toggle' => 'modal', 'data-target' => "##{ StringHelper.url(driver.car) }" }
      .row
        .col-xs-2
          %span.place= index + 1
        .col-xs-6
          %h5= "#{ driver.name }, #{ driver.car }"
          %p= "#{ driver.grade } | #{ driver.trips } trips"
        .col-xs-3
          %img{ 'data-src' => 'holder.js/75x75/sky', class: 'img-circle' }

  - @drivers.each_with_index do |driver, index|
    %div{ class: 'modal fade', id: "#{ StringHelper.url(driver.car) }", tabindex: '-1', role: 'dialog' }
      .modal-dialog
        .modal-content
          .modal-header
            %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal' }
              %span{ 'aria-hidden' => 'true' } &times;
              %span.sr-only Close
            %h3.modal-title= driver.car
          .modal-body
            %img{ src: '/img/car.png' }
            %ul
              - 1.upto(4).each do |n|
                %li= "Benefit #{ n }"
          .modal-footer
            %a{ class: 'btn btn-primary', href: '#' } See specs

%a{ class: 'btn btn-primary btn-100' } Load more