%h3 12 Services

%hr

.list-group
  - @service = OpenStruct.new(name: 'Basic service', items: '3', cost: '$849.00', date: '12th Oct 2014')
  - 10.times do
    %a{ class: 'list-group-item', href: '/services/2014/10/12' }
      %small= @service.date
      %h4= @service.name
      %p= "#{ @service.items } items | #{ @service.cost }"