%h3 200 trips

%p
  Order by
  %a most recent

%div.list-group
  - @trips.each do |trip|
    %a{ href: '/trips/redfern-to-north-sydney', class: 'list-group-item' }
      .row
        .col-xs-11
          %small= trip.date
          %h5= "#{ trip.from } to #{ trip.to }"
          %p= "#{ trip.grade } | #{ trip.distance }km | #{ trip.time } mins"
        .col-xs-1.pull-right.trips-marker
          .glyphicon.glyphicon-map-marker

%a{ class: 'btn btn-primary btn-100' } Load more