.hero
  %h1= "Trent's #{ @model.upcase }"
  %img{ 'data-src' => 'holder.js/100%x200/sky/auto' }

%p
  Your RS4 has a
  %a{ href: '/cars/rs4/resale' } $94,990
  resale value, as all your services have been with Audi and your car is
  %a{ href: '#' } Audi Approved
  = "."
  You still have
  %a{ href: 'cars/rs4/warranty'} 2 years
  on your warranty

%ul{ class: 'nav nav-tabs nav-car', role: 'tablist' }
  %li.active
    %a{ href: '#grade', role: 'tab', 'data-toggle' => 'tab', id: 'grade-tab' }
      %h4 A-
      %small grade
  %li
    %a{ href: '#place', role: 'tab', 'data-toggle' => 'tab', id: 'place-tab' }
      %h4 Driver
      %small ranking
  %li
    %a{ href: '#trips', role: 'tab', 'data-toggle' => 'tab', id: 'trips-tab' }
      %h4 200
      %small trips
  %li
    %a{ href: '#services', role: 'tab', 'data-toggle' => 'tab', id: 'services-tab' }
      %h4 12
      %small services

.tab-content
  %div{ class: 'tab-pane active', id: 'grade' }
    = partial '/cars/grade'
  .tab-pane#place
    = partial '/cars/place'
  .tab-pane#trips
    = partial '/cars/trips'
  .tab-pane#services
    = partial '/cars/services'